// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1,h2,p,a {
  font-family: 'Pangolin', cursive;
  text-align: center;
}

p {
  font-family: 'Pangolin', cursive, bold;
}

img.coach {
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  background-size: cover;
  background: url(images/download.png) no-repeat center fixed;
}
